
/* devanagari */
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: local('Kalam'), local('Kalam-Regular'), url(http://fonts.gstatic.com/s/kalam/v4/vYcxJ4SCUGGeGwB4JiPBBw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/kalam/v4/q5EZnWRPoZ30xnRT_Wt9BA.woff) format('woff');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: local('Kalam'), local('Kalam-Regular'), url(http://fonts.gstatic.com/s/kalam/v4/kBQs2fewGS-46pyyrdzkNw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/kalam/v4/0GKLdpREG2_5tG9pYWS0Zw.woff) format('woff');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: local('Kalam'), local('Kalam-Regular'), url(http://fonts.gstatic.com/s/kalam/v4/IOem-i1iklYvPM2B8plGmg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/kalam/v4/90dVhmNmR8HPTvtUmM5aQg.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://fonts.gstatic.com/s/pacifico/v6/Q_Z9mv4hySLTMoMjnk_rCfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/pacifico/v6/yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
/* latin */
@font-face {
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 400;
  src: local('Quantico'), local('Quantico-Regular'), url(http://fonts.gstatic.com/s/quantico/v4/8Gf_cHXH2gzsd9z-xuVg5vesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/quantico/v4/RC4TVDxn85RHKNRvpYMc9PesZW2xOQ-xsNqO47m55DA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'), url(http://fonts.gstatic.com/s/ubuntucondensed/v5/DBCt-NXN57MTAFjitYxdrDAdhzWOYhqHvOZMRGaEyPo.woff2) format('woff2'), url(http://fonts.gstatic.com/s/ubuntucondensed/v5/DBCt-NXN57MTAFjitYxdrFzqCfRpIA3W6ypxnPISCPA.woff) format('woff');
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;

}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('../images/bg.jpg');
  height: 500px;
  
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 34px;  
  font-family: 'Ubuntu Condensed','Pacifico','Kalam', sans-serif;
}

.jumbotron p {
  font-size: 18px;
  color: #fff;
  font-family:'Kalam';
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}
.neighborhood-guides{
    background-color:#efefef;    
    border:1px solid #dbdbdb;
}
.neighborhood-guides h2{
    color:#393c3d;
    font-size:24px;
}
.neighborhood-guides p{
    font-size:15px;
    margin-bottom:13px;
}

