*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


body{
	max-width: 100%;
	font-family: "source_sans_proregular",sans-serif;
	font-size: 18px;
	margin: 0 0 3em;
	padding-top: 0px;
}



@font-face {
  font-family: "icons";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "source_sans_proregular";
  src: url("../fonts/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "source_sans_probold";
  src: url("../fonts/sourcesanspro-bold-webfont.eot");
  src: url("../fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-bold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "source_sans_prosemibold";
  src: url("../fonts/sourcesanspro-semibold-webfont.eot");
  src: url("../fonts/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-semibold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-semibold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "source_sans_prolight";
  src: url("../fonts/sourcesanspro-light-webfont.eot");
  src: url("../fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-light-webfont.woff") format("woff"), url("../fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "source_sans_proitalic";
  src: url("../fonts/sourcesanspro-italic-webfont.eot");
  src: url("../fonts/sourcesanspro-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-italic-webfont.woff") format("woff"), url("../fonts/sourcesanspro-italic-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-italic-webfont.svg#source_sans_proitalic") format("svg");
  font-weight: normal;
  font-style: normal; }


p, dd {
  font-family: "source_sans_proregular", sans-serif;
  font-size: 1em;
  line-height: 150%;
  text-indent: 0;
  margin: 0 0 1.4em; }

html{
	min-height: 100%;
	position: relative;
}

h2{
	margin-top: 2em;
	margin-bottom: 0.5em;
}

h4{
	font-family: "source_sans_probold",sans-serif;
	margin-bottom: 1em;
}

ul, ol{
	margin: 10px 0 20px 10px;
}

ul li ,ol li, ul li p, ol li p{
	font-family: "source_sans_proregular",sans-serif;
	font-size: 1em;
	line-height: 150%;
	margin-top: 0.5em;
	text-indent: 0;
}

.btn{
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	opacity: 0.3;
	-webkit-transition: opacity, 0.2s, ease-in-out;
	-moz-transition: opacity, 0.2s, ease-in-out;
	transition: opacity, 0.2s, ease-in-out;
}

.btn:hover{
	cursor: pointer;
	opacity: 1;
	-webkit-transition: opacity, 0.2s, ease-in-out;
	-moz-transition: opacity, 0.2s, ease-in-out;
	transition: opacity, 0.2s, ease-in-out;
}

.btn.open{
 	position: fixed;
 	left: 30px;
 	top: 24px;
 	background: url("../../images/icons/nav.png");
 	z-index: 1;
}

.btn.close{
	width: 24px;
	height: 24px;
	margin-top: 19px;
	float: right;
	margin-right: 20px;
	background: url("../../images/icons/close.png");

}

div.navbar{
	font-family: "source_sans_proregular",sans-serif;
	background-color: #dfdfdf;
	position: fixed;
	top: 0;
	left: -320px;
	width: 320px;
	padding: 0;
	border-bottom: 1px solid #d8d8d8;
	font-size: 0.9em;
	overflow: scroll;
	height: 100%;
	z-index: 2;
}

div.navbar .title{
	background: #666666;
	position: fixed;
	width: 320px;
	z-index: 12;
}

div.navbar h1{
	font-family: "source_sans_probold",sans-serif;
	text-transform: uppercase;
	font-size: 1.7em;
	float: left;
	width: 250px;
	margin: 0;
	padding: 14px 20px;
	color: white;
	-webkit-font-smoothing: antialiased;
}

div.navbar h2{
	clear: both;
	font-size: 1em;
	margin-bottom: 0;
	padding: 14px 20px;
	background: #7b7b7b;
	color: white;
	-webkit-font-smoothing: antialiased;
}

.navigation{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3em;
	
}



.navigation ul{
	text-decoration: none;
	list-style-type: none;
	margin: 0; 
}

.navigation ul li{
	position: fixed;
	bottom: 18px;
}

.navigation ul li a{
	opacity: 0.3;
	text-transform: lowercase;
	text-decoration: none;
	color: black;
	width: 66px;
	height: 26px;
	display: block;
	-webkit-transition: opacity, 0.3s, ease-in-out;
	-moz-transition: opacity, 0.3s, ease-in-out;
	transition: opacity, 0.3s, ease-in-out;
}

.navigation ul li a:hover{
	opacity: 0.8;
	-webkit-transition: opacity, 0.3s, ease-in-out;
	-moz-transition: opacity, 0.3s, ease-in-out;
	transition: opacity, 0.3s, ease-in-out;
}

.navigation ul li:nth-child(1){
	right: 30px;
}

.navigation ul li:nth-child(1) a{
	padding-right: 30px;
	background: url("../../images/icons/next.png") right no-repeat;
}

.navigation ul li:nth-child(2){
	left: 30px;
}

.navigation ul li:nth-child(2) a{
	padding-left: 30px;
	background: url("../../images/icons/prev.png") left no-repeat;
}



.icon{
	width: 240px;
	height: 240px;
	border-radius: 50%;
	margin:	4.5em auto 3.5em;
}

.icon img{
	width: 200px;
	height: 200px;
	margin: 45px;
}

section{
	max-width: 700px;
	margin: 0 auto 8em;
}

section[data-type="chapter"] header{
	border-bottom: 18 px solid #eeeeee;
	margin-bottom: 4em;
}

section[data-type="chapter"] header h1{
	font-family: "source_sans_proregular",sans-serif;
	font-size: 2.4em;
	margin-top: -30px;
	margin-bottom: 0;
	margin-left: 50px;
	text-align: center;
	text-transform: uppercase;
	color: #444444;
	-webkit-font-smoothing: antialiased;
}

nav[data-type="toc"]{
  margin-top: 132px; 
}

nav[data-type="toc"] a{
	font-style: normal;
	text-decoration: none;
	padding-left: 20px;
	display: inline-block;
	width: auto;
	padding-bottom: 18px;
	color: #444444;
}

nav[data-type="toc"] a:hover{
	text-decoration: underline;
}

nav[data-type="toc"] li ol li a{
	padding-left: 30px;
}

nav[data-type="toc"] li{
	list-style-type: none;
	font-family: "source_sans_proregular",sans-serif;
	margin-top: 0;
	padding: 20px 0 0px;
	border-bottom: 1px solid #cccccc;
	-webkit-transition:background, 0.2s, ease-in-out;
	moz-transition:background, 0.2s, ease-in-out;
	transition:background, 0.2s, ease-in-out;
}

nav[data-type="toc"] li:hover{
	color: #222222;
	background: #94c2cd;
	-webkit-transition:background, 0.2s, ease-in-out;
	moz-transition:background, 0.2s, ease-in-out;
	transition:background, 0.2s, ease-in-out;	
}

nav[data-type="toc"] > h1{
	font-size: 1.5em;
	line-height: 120%;
	margin-top: 80px;
	margin-bottom: 50px;
	text-align: center;
}


nav[data-type="toc"] ol{
	padding: 0;
	margin: 0;
}

nav[data-type="toc"] li[data-type="part"]{
	margin-top: 0px;
	border-right: 1px solid #cccccc;
	position: relative;
	cursor: pointer;
}

nav[data-type="toc"] li[data-type="part"]:before{
	content: "\e60c";
	font-family: "icons";
	font-size: 1.6em;
	position: absolute;
	left: 88%;
	display: block;
	opacity: 0.3;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

nav[data-type="toc"] li[data-type="part"].open:before{
	-webkit-transform: rotate(180deg);
	moz-transform: rotate(180deg);
	transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform-orgin: center center;
	-ms-transform-orgin: center center;
	-o-transform-orgin: center center;
	-moz-transform-orgin: center center;
	transform-orgin: center center;
	-webkit-transform-property: -webkit-transform;
	-moz-trasform-property: -moz-transform;
	transform-property: transform;
	-webkit-transtion-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

nav[data-type="toc"] li[data-type="part"]:hover:before{
	opacity: 0.5;
}

nav[data-type="toc"] li[data-type="part"] > a{
	border-bottom: none;
	width: auto;
}

nav[data-type="toc"] li[data-type="part"] > ol{
	display: none;
}

nav[data-type="toc"] li[data-type="part"] > ol li:last-child {
    border-bottom: none; 
}

nav[data-type="toc"] li[data-type="part"] > ol a{
	display: block;
	padding: 20px 30px 18px;
	width: 100%;
}

nav[data-type="toc"] li[data-type="part"] ol{
	margin-left: 0;
	text-indent: 0;
}

nav[data-type="toc"] li[data-type="part"] ol li{
	padding: 0 0 0 8px;
	background: #b1b3b6;
}

nav[data-type="toc"] li[data-type="part"] ol li:hover, nav[data-type="toc"] li[data-type="part"] ol li:active{
	background: #41a2ba;
}

nav[data-type="toc"] li[data-type="part"] ol li ol{
	display: none;
	font-family: "source_sans_proregular",sans-serif;
	font-size: 1em;
	line-height: 120%;
	margin-left: 0px;
	text-indent: -10px;
}

nav[data-type="toc"] li[data-type="part"] ol li a{
	background: #efefef;
	-webkit-transition: background, 0.2s, ease-in-out;
	-moz-transition: background, 0.2s, ease-in-out;
	transition: background,0.2s,ease-in-out;
}

nav[data-type="toc"] li[data-type="part"] ol li a:hover{
	background: white;
	text-decoration: none;
	-webkit-transition: background, 0.2s, ease-in-out;
	-moz-transition: background, 0.2s, ease-in-out;
	transition: background, 0.2s, ease-in-out;
}

nav[data-type="toc"] li[data-type="part"] ol li:first-child a{
	border-top: 1px solid #cccccc;
}

nav[data-type="toc"] li[data-type="part"],
nav[data-type="toc"] li[data-type="chapter"]{
	font-size: 1em;
	line-height: 120%;
	text-indent: 0;
	margin-top: 0px;
}

nav[data-type="toc"] li[data-type="chapter"] ol ol {
  margin-left: 10px;
  text-indent: -10px; 
}


nav[data-type="toc"] > h1,
div[data-type="part"] > h1,
section[data-type="chapter"] > h1{
	font-family: "source_sans_prosemibold", sans-serif;
    line-height: 120%; 
}


section[data-type="chapter"] >h1{
	font-size: 1.8em;
	margin-top: 70px;
	margin-bottom: 40px;
	text-align: left;
}

div[data-type="chapter"] > h1{
	font-size: 3.8em;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 30px;
}

section[data-type="chapter"]{
	padding: 30px;
}

div[data-type="part"]{
	padding: 0px 30px;
}


section[data-type="chapter"] header{
	border-bottom: 18px solid #eeeeee;
	margin-bottom: 4em;
}


